{% extends 'base.html'%}
{% block title %}
Review AI Suggestions
{% endblock title %}

{% block body %}
<div style="text-align: center;">
    <h1>Review Suggested Tasks</h1>
</div>

<hr>
<div class="container my-3">
    {% if suggested_todos %}
    <form action="/reviewai" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in suggested_todos %}
                <tr>
                    <td>
                        <input type="checkbox" name="todo_data" value="{{ todo.title }}|{{ todo.description }}" checked>
                    </td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.description }}</td>
                    <td>
                        <a href="/edit_suggested/{{ loop.index0 }}" type="button" class="btn btn-outline-secondary btn-sm">
                            Edit
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                                viewBox="0 0 16 16">
                                <path
                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Confirm Selected Todos</button>
        </div>
    </form>
    {% else %}
    <div class="alert alert-info" role="alert">
        No suggested todos found. Go back to the AI creation page.
    </div>
    {% endif %}
</div>

{% endblock body %}
